div {

    background: #aaa;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin:20px;
    border: 10px solid #111;
    border-radius: 10px;

}

h1{

    background: #84e;
    padding: 20px;
    margin: 30px;
    border: 8px #000;
    border-style:dotted ;

}