.lista-1{

    background: rgb(74, 227, 117);

}
.lista-2{

    background: rgb(232, 116, 116);
}

.lista-1 li:last-child{

    background: rgb(255, 77, 0);

}
.lista-1 li:nth-child(3){

    background: rgb(120, 9, 59);

}
.lista-2 li:nth-child(odd){

    background: rgb(47, 255, 0);

}
.lista-2 li:nth-child(even){

    background: rgb(116, 116, 232);

}
.lista-2 li:nth-child(4n){

    background: rgb(255, 0, 0);
}