*{

    font-family: Arial;
}
h1{
text-align: center;

}
h2{
    color: rgb(255, 255, 255);
}
h2:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    color: rgb(9, 9, 198);

}
div {
    margin-top: 20px;
    background-color: #111 ;
    padding: 14px;
    border-radius: 10px;
    padding-bottom:20px;
    padding-left: 40px;
  
}

button{

    background-color: #febe01 ;
    padding: 10px;
    left-margin: 10px;
    margin-top: 8px;
    border:none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #111;
    font-size: 16px;    

}
button:hover{
    background-color: #ff5500 ;

}

span{
    color: #febe01 ;
}

p{
    color: #ffff;
    margin-top: 8px;
    margin-bottom: 8px;
}

